<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.huateng.signmev2.mapper.system.SignmeStatMapper">
	<sql id="queryCondition">
		<if test="stat_date != null and stat_date != ''">AND stat_date=#{stat_date,jdbcType=VARCHAR}</if>
		<if test="b_start_date != null and b_start_date != ''"><![CDATA[AND stat_date>=#{b_start_date,jdbcType=VARCHAR}]]></if>
		<if test="b_end_date != null and b_end_date != ''"><![CDATA[AND stat_date<=#{b_end_date,jdbcType=VARCHAR}]]></if>
		<if test="mac != null and mac != ''">AND mac=#{mac,jdbcType=VARCHAR}</if>
		<if test="name != null and name != ''">AND name=#{name,jdbcType=VARCHAR}</if>
		
		<choose>
			<when test='sign_in != null and sign_in =="1"'>
				AND sign_in > 0
			</when>
			<when test='sign_in != null and sign_in =="2"'>
				<![CDATA[AND sign_in <= 0]]>
			</when>
		</choose>
		<choose>
			<when test='sign_out != null and sign_out =="1"'>
				AND sign_out > 0
			</when>
			<when test='sign_out != null and sign_out =="2"'>
				<![CDATA[AND sign_out <= 0]]>
			</when>
		</choose>
		<choose>
			<when test='sign_ot != null and sign_ot =="1"'>
				AND sign_ot > 0
			</when>
			<when test='sign_ot != null and sign_ot =="2"'>
				<![CDATA[AND sign_ot <= 0]]>
			</when>
		</choose>
		<choose>
			<when test='sign_late != null and sign_late =="1"'>
				AND sign_late > 0
			</when>
			<when test='sign_late != null and sign_late =="2"'>
				<![CDATA[AND sign_late <= 0]]>
			</when>
		</choose>
		<choose>
			<when test='sign_holiday != null and sign_holiday =="1"'>
				AND stat_date NOT IN (SELECT holiday FROM tbl_holiday where flag='0')
			</when>
		</choose>
	</sql>

    <!-- 查询统计签退签到记录信息 -->
	<select id="queryForList" resultType="SignmeStat" parameterType="SignmeStat">
		SELECT 
		<choose>
			<when test='stat_flag != null and stat_flag =="1"'>
				'${b_start_date}-${b_end_date}' AS stat_date,
			</when>
			<when test='stat_flag != null and stat_flag =="2"'>
				stat_date,
			</when>
			<otherwise>
				stat_date,
			</otherwise>
		</choose>
		mac,name,sign_in,sign_out,sign_ot,sign_late
		FROM tbl_signme_stat
		<where>
			<include refid="queryCondition"></include>
		</where>
		
		<if test="b_order_name != null  and b_order_name != ''"><![CDATA[order by ${b_order_name} ${b_order_asc}  ]]></if>
	</select>

	<!-- 手动调用存储过程统计 -->
	<select id="procSignmeStat" parameterType="String" statementType="CALLABLE">
		CALL PROC_SIGNME_STAT(#{curr_date,mode=IN,jdbcType=VARCHAR})
	</select> 
	
	<!-- 查询统计一段时间的签退签到记录信息 -->
	<select id="queryGroupStat" resultType="SignmeStat" parameterType="SignmeStat">
		SELECT '${b_start_date}-${b_end_date}' AS stat_date, mac,name,
		SUM(sign_in) AS sign_in,SUM(sign_out) AS sign_out,SUM(sign_ot) AS sign_ot, SUM(sign_late) AS sign_late
		FROM tbl_signme_stat
		<where>
			<include refid="queryCondition"></include>
		</where>
		GROUP BY mac,name
		<if test="b_order_name != null  and b_order_name != ''"><![CDATA[order by ${b_order_name} ${b_order_asc}  ]]></if>
	</select>
	
    <!-- 查询统计签退签到记录信息 -->
	<select id="queryForObject" resultType="SignmeStat" parameterType="SignmeStat">
		SELECT stat_date,mac,name,sign_in,sign_out,sign_ot,sign_late
		FROM tbl_signme_stat
		<where>
			<include refid="queryCondition"></include>
		</where>
	</select>

    <!-- 周/月统计排行 -->
	<select id="queryTopLateList" resultType="SignmeStat" parameterType="SignmeStat">
		SELECT mac, name, SUM(CASE WHEN sign_late =1 THEN 1 ELSE 0 END) sign_late,
		SUM(CASE WHEN sign_ot =1 THEN 1 ELSE 0 END) sign_ot
		FROM tbl_signme_stat
		<where>
			<include refid="queryCondition"></include>
		</where>
		GROUP BY mac, name
		<choose>
			<when test='top_flag != null and top_flag == "1"'>
				ORDER BY sign_late DESC
			</when>
			<when test='top_flag != null and top_flag == "2"'>
				ORDER BY sign_ot DESC
			</when>
		</choose>
		LIMIT 10
	</select>
</mapper>
