<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="inc/header::header">
<title th:text="|#{system.company}管理页面|">管理页面</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col">
				<h1 th:text="|#{system.company}根据IP获取MAC页面|">IP测试页面</h1>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="input-group col-md-4">
                    <input type="text" class="form-control" id="ip" placeholder="Ip">
                    <span class="input-group-addon" style="cursor: pointer;" title="" th:title="#{btn_search}">
						<i class="glyphicon glyphicon-search red" id="searching"></i>
					</span>
                </div>
			</div>
		</div>
		<div class="row">
			<div class="col" >
				<ul class="dashboard-list">
					<li>
						<a href="javascript:void(0)" target="_blank">
							<i class="glyphicon glyphicon-hand-right"></i>
							<span class="yellow" style="width: 120px;">UDP测试:</span>
							<span id="udp" style="width: 200px;"></span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0)" target="_blank">
							<i class="glyphicon glyphicon-hand-right"></i>
							<span class="yellow" style="width: 120px;">Nbtstat测试:</span>
							<span id="nbtstat" style="width: 200px;"></span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0)" target="_blank">
							<i class="glyphicon glyphicon-hand-right"></i>
							<span class="yellow" style="width: 120px;">ARP测试:</span>
							<span id="arp" style="width: 200px;"></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div th:replace="inc/header::common"></div>
	<script type="text/javascript">
	$(document).ready(function(){
		function msg(id, desc){
            var $id = $("#"+id);
            $id.empty();

            if($.trim(desc) == ""){
                $id.text("获取不到MAC地址");
                return;
			}
            $id.text(desc);
		}

		function showLoader(id){
		    var img = '<img src="/signmev2/css/images/ajax-loader.gif">';
		    var $id = $("#"+id);
            $id.empty();
            $id.append(img);
		}

		$("#searching").on("click",function(){
			var ip = $("#ip").val();
			if($.trim(ip) === ""){
			    Noty.popover("ip", "请输入IP")
				return ;
			}
			console.log(ip);
            showLoader("udp");
            showLoader("nbtstat");
            showLoader("arp");
			tableSupport.post("/signmev2/testip/udp",{"ip": ip},function(resp){
				msg("udp", resp.desc);
			});
			tableSupport.post("/signmev2/testip/nbtstat",{"ip": ip},function(resp){
				msg("nbtstat", resp.desc);
			});
			tableSupport.post("/signmev2/testip/arp",{"ip": ip},function(resp){
				msg("arp", resp.desc);
			});
		});
	});
	</script>
</body>
</html>